#pageheader .searchbox input {
    width: 209px;
}

#confidencebar h2.confidencebutton,
#confidencebar h2.confidencebutton a {
    width: 220px;
}

 #product-detail .bigbeer img {
    height: 362px;
    width: 220px;
}