/* -- Basic HTML -- */
a {
    color: #2185c5;
    text-decoration: none;
}
a:hover {
    color: #ff7f66;
}
body {
    background: #fff;
    color: #3e454c;
    font-family: Roboto, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
button {
    font-size: 1.1em;
}
fieldset {
    background-color: #eee;
    padding-bottom: 20px;
}
fieldset>legend {
    font-size: 1.1em;
    font-style: normal;
    font-weight: bold;
    margin: 10px;
    padding-bottom: 10px;
}
h1, h2, h3, h4, h5, h6 {
    color: #3e454c;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: bold;
    margin: 5px 0;
    padding: 5px 0;
}
h1 {
    font-size: 1.6em;
}
h2 {
    font-size: 1.4em;
}
input {
    /*font-family: KeepCalm-Book;*/
    font-size: 1.1em;
    padding: 3px 5px;
}
label, .hint {
    display: block;
    font-size: 1.1em;
    margin-top: 8px;
}
p {
    text-align: justify;
}
root {
    display: block;
}

/* -- HTML elements with specific classes -- */
div.error {
    margin-bottom: 5px;
}
h1.home-title {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #ccc519;
    border: #3e454c solid thin;
    border-radius: 10px;
    color: #3e454c;
    margin: 0 0 20px 0;
    padding: 20px 0;
    text-align: center;
}
ul.infomessages {
    margin-bottom: 5px;
}
ul.infomessages li {
    color: #ff7f66;
    font-weight: bold;
}

/* -- Misc classes -- */
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}
.announce {
    color: #ff7f66;
    font-size: 1.4em;
    font-weight: bold;
}
.float-left{
    float: left;
}
.nobr {
    white-space: nowrap;
}

/* -- Image replacement -- */
.ir {
    background-color: transparent;
    border: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Sprites
 */
.sprites {
    background-color: transparent;
    background-image: url(/media/sprites.png);
    background-repeat: no-repeat;
    display: inline-block;
    overflow: hidden;
    text-indent: -9999%;
}
.sprites.facebook-button {
    background-position: -24px 0;
    height: 20px;
    width: 20px;
}
.sprites.gplus-button {
    background-position: 0 -40px;
    height: 20px;
    width: 20px;
}
.sprites.logo {
    background-position: -44px 0;
    height: 100px;
    width: 103px;
}
.sprites.instagram-button {
    background-position: -24px -20px;
    height: 20px;
    width: 20px;
}
.sprites.pinterest-button {
    background-position: 0 -20px;
    height: 20px;
    width: 20px;
}
.sprites.search-button {
    background-position: 0 -60px;
    height: 32px;
    width: 34px;
}
.sprites.twitter-button {
    background-position: 0 0;
    height: 20px;
    width: 24px;
}
.cat-prev{
    width:8px;
    height:13px;
    background-position: -140px 0px;
    margin-bottom: -3px;
}
.cat-next{
    width:8px;
    height:13px;
    background-position: -150px 0px;
    margin-bottom: -3px;
}

/* -- Begin Page Header -- */
#pageheader {
    margin-bottom: 15px;
}
#pageheader .sitetitle {
    padding: 0;
}
#pageheader .sitetitle h1 {
    margin-bottom: 0;
    padding-bottom: 0;
}
/* -- Search -- */
#pageheader .searchbox {
    padding-top: 15px;
}
#pageheader .searchbox input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border: #3e454c solid thin;
    border-image: none;
    border-right-width: 0;
    float: left;
    font-size: 1.2em;
    height: 22px;
    line-height: 22px;
    padding: 5px;
    vertical-align: top;
    width: 289px;
}
#pageheader .searchbox button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #3e454c;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    display: block;
    float: right;
    font-size: 1.2em;
    font-weight: bold;
    height: 34px;
    left: 0;
    line-height: 34px;
    padding: 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: -34px;
    vertical-align: middle;
    width: 34px;
}
#pageheader .searchbox button span {
    display: block;
    height: 34px;
    width: 34px;
    background-position: 0 -100px;
    /* specific image replacement */
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1;
}
#pageheader .searchbox button:hover span {
    background-position: 0 -133px;
    cursor: pointer;
}

/* -- Social media buttons -- */
#pageheader .social {
    padding-top: 22px;
    text-align: center;
}

#pageheader .social a {
    margin: auto 0;
}

/* -- Your Account -- */
#pageheader .youraccount {
    padding-top: 22px;
    text-align: right;
}
#pageheader .youraccount a {
    text-decoration: none;
}
#pageheader .accountmenu, #hdrBasket {
    position: relative;
}
#pageheader .accountmenu ul, #hdrBasket .minibasket {
    background-color: #eee;
    border: #3e454c solid thin;
    box-shadow: 2px 2px 0 0 #ccc;
    display: none;
    -moz-box-shadow: 2px 2px 0 0 #ccc;
    -webkit-box-shadow: 2px 2px 0 0 #ccc;
    margin: 2px 0 0 0;
    padding: 5px;
    position: absolute;
    left: -90px;
    width: 140px;
    z-index: 1;
}
#pageheader .accountmenu ul li {
    margin: 0;
    padding: 1px 0;
    text-align: left;
}
#hdrBasket .minibasket .items {
    margin-bottom: 5px;
}
#hdrBasket .minibasket .items .item, #hdrBasket .minibasket .items .subtotal {
    border-top: #3e454c solid thin;
    margin-bottom: 2px;
    padding: 2px 0;
}
#hdrBasket .minibasket .items .item {
    border-top: #999 dotted thin;
}
#hdrBasket .minibasket .items .item:first-child {
    border-top: none;
}
#hdrBasket .minibasket button {
    width: 100%;
}
#siteseal {
    display: block;
    margin-top: 5px;
    padding-top: 20px;
    text-align: right;
}
/* -- End Page Header -- */

/* -- Confidence bar -- */
#confidencebar {
    margin-bottom: 10px;
    margin-top: 0;
}
#confidencebar h2.confidencebutton {
    background-color: #3e454c;
    display: block;
    font-size: 1.2em;
    font-weight: normal;
    height: 36px;
    margin-bottom: 5px;
    padding: 0;
    text-align: center;
    width: 300px;
}
#confidencebar h2.confidencebutton a {
    background-color: #fff;
    border: 1px solid #3e454c;
    color: #3e454c;
    display: block;
    height: 26px;
    left: -3px;
    padding: 6px 0 4px 0;
    position: relative;
    text-decoration: none;
    top: -3px;
    width: 300px;
}
#confidencebar h2.confidencebutton a:hover {
    background-color: #eee;
}

/* -- Side nav & blog nav -- */
#sidenav, #blognav {
    padding-bottom: 30px;
}
#sidenav li, #blognav ul li {
    margin: 0;
}
#sidenav h2, #blognav h2 {
    border-bottom: 1px solid #3e454c;
    margin-bottom: 10px;
    padding-bottom: 7px;
    text-transform: uppercase;
}
#sidenav h3 {
    font-size: 1em;
}
#sidenav a, #blognav a {
    display: block;
    font-weight: bold;
    padding: 3px 0 3px 1px;
    text-decoration: none;
}
#sidenav a:hover, #blognav a:hover {
    background-color: #eee;
}
#sidenav span.quantity {
    font-size: 0.9em;
    font-weight: normal;
}

/* -- Begin product grid display -- */
#productgrid .product {
    height: 300px;
}
#productgrid .product h2 {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #eee;
    border: #3e454c solid thin;
    border-radius: 5px;
    font-size: 1.1em;
    height: 28px;
    overflow: hidden;
    padding: 5px;
}
#productgrid .product .price {
    -moz-border-radius: 50%;
    -moz-transform: rotate(-24deg); /* Firefox */
    -ms-transform: rotate(-24deg); /* IE */
    -o-transform: rotate(-24deg); /* Opera */
    -webkit-border-radius: 50%;
    -webkit-transform: rotate(-24deg);
    background-color: #e2e2e2;
    border-radius: 50%;
    display: block;
    height: 68px;
    left: 130px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    top: -230px;
    width: 68px;
    z-index: 1;
}
#productgrid .product .price span {
    color: #ff7f66;
    display: block;
    font-size: 24px;
    margin: 16px 0 0 0;
    text-align: center;
}
#productgrid .product ul {
    left: 140px;
    position: relative;
    top: -230px;
    width: 160px;
}
#productgrid .product ul li {
    font-size: 1.2em;
    margin: 0 0 5px 15px;
}

/* -- Begin Hightlight Box -- */
.highlightbox {
    margin-bottom: 30px;
    margin-top: 20px;
}
.highlightbox h2 {
    background-color: #dfdfdf;
    font-size: 1.2em;
    margin: 0 0 10px 0;
    text-align: center;
}
/* -- End Hightlight Box -- */

/**
 * Page footer
 */
#pagefooter {
    background-color: #ccc;
    border-top: #3e454c solid thick;
    margin-top: 20px;
    padding: 20px 0;
}
#pagefooter.min {
   background-color: #fff;
   border-top: none;
   color: #999;
}
#pagefooter h2 {
    border-bottom: 1px solid #4c4c4c;
    display: block;
    font-size: 1.1em;
    text-transform: uppercase;
}
#pagefooter h3 {
    font-size: 1.1em;
}
#pagefooter h3, #pagefooter h3 {
    padding-bottom: 0;
}
#pagefooter .social a {
    background-color: #4c4c4c;
    width: 140px;
    float:left;
    display:block;
    margin-right: 20px;
    padding: 5px 0;
}
#pagefooter .social a span { /* some weird shit going on with IE7 and sprites using block-inline. This code seems to fix it  */
    display:block;
    margin:0 auto;
    width:26px;
    height:23px;
}
#pagefooter .social a.last {
    margin: 0;
}
#pagefooter nav ul {
    margin: 10px 0 0 0;
    padding: 0;
}
#pagefooter nav ul li {
    margin: 0;
    padding-bottom: 3px;
}

/* -- Begin account pages. -- */
#account h2 {
    text-align: center;
}
#account section {
    margin-bottom: 10px;
}
#account table {
    width: 100%;
}
#account table thead tr th {
    font-family: 'Roboto Slab', serif;
}
#account .address {
    border-bottom: #999 dotted thin;
}
#account table {
    width: 100%;
}
#account table thead tr th {
    font-family: 'Roboto Slab', serif;
}
#account .address {
    border-bottom: #999 dotted thin;
}
/*#account .acct-signin {
    border-left: #999 solid thin;
    padding-left: 20px;
    width: 439px;
}*/
#forgotPw {
    display: none;
}
/* -- End account pages. -- */

/* -- Begin category page. -- */
.cat-nav {
    margin-top: 5px;
}
/*.cat-nav .paging {
    float:left;
    margin-left:20%;
}
.cat-nav .paging a {
    text-decoration: underline;
    padding: 4px;
}
.cat-nav .paging a.sprites {
    padding: 0;
}
.cat-nav .paging a.selected{
    color:#000;
    text-decoration:none;
}
.cat-nav .paging a:hover {
    color:#0061a1;
    background-color:#eaeaea;
    text-decoration:none;
}
.cat-nav .paging a.selected:hover {
    color:#000;
    background-color:#fff;
    cursor:default;
}
.cat-nav .filter {
    float: right;
}
.cat-nav select{
    border: 1px solid #aaa;
    border-radius: 4px 4px 4px 4px;
    font-size: 12px;
}*/
.product-result {
    margin-top: 20px;
}
/* -- End category page. -- */

/* -- Begin product detail page -- */
#product-detail .breadcrumb ul {
    margin: 7px 0 15px 0;
    padding: 0;
}
#product-detail .breadcrumb ul li {
    display: inline;
    margin: 0;
    padding: 0 3px 0 0;
}
#product-detail .breadcrumb ul li:before {
    content: '\0BB';
}
#product-detail .breadcrumb ul li:first-child:before {
    content: '';
}
#product-detail h1 {
    margin-bottom: 10px;
    padding-top: 0;
}
#product-detail h1 span {
    font-size: 1em;
    font-weight: normal;
    text-transform: none;
}
#product-detail .review h2 {
    padding: 0;
    margin: 10px 0 5px 0;
}
#product-detail .review h3 {
    font-size: 1.1em;
    font-weight: bold;
    padding: 0;
    margin: 10px 0 0 0;
}
/*#product-detail .facts ul {
    margin: 0 0 0 10px;
    padding: 0;
}
#product-detail .facts ul li {
    margin: 0 0 3px 0;
    padding: 0;
}
#product-detail .share .col1, #product-detail  .share .col2 {
    padding: 0 10px;
    width: 45%;
    float:left;
}
#product-detail .share .col2 {
    padding: 0;
}
#product-detail .share .col1 span, #product-detail  .share .col2 span {
    padding-bottom: 10px;
}
#product-detail .detailtabs .tabs {
    margin:30px 0 0;
    width: 620px;
    border-bottom: 1px solid #999;
    height:30px;
    background: #fff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #e7e6e6 100%); /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e7e6e6)); /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top,  #ffffff 0%,#e7e6e6 100%); /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top,  #ffffff 0%,#e7e6e6 100%); /* Opera 11.10+ */
    /*background: -ms-linear-gradient(top,  #ffffff 0%,#e7e6e6 100%); /* IE10+ */
    /*background: linear-gradient(to bottom,  #ffffff 0%,#e7e6e6 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e6e6',GradientType=0 ); /* IE6-9 */
/*}
#product-detail .detailtabs .tabs li {
    display: inline;
    float: left;
    list-style: none;
    margin: 0;
}
#product-detail  .detailtabs .tabs li h2 {
    display: inline;
    font-size: 1.1em;
}
#product-detail  .detailtabs .tabs li h2 a {
    border: 0;
    color: #000;
    display: inline-block;
    height: 30px;
    margin: 0;
    padding: 5px 0 0 0;
    text-align: center;
    text-decoration: none;
    width: 309px;
}
#product-detail  .detailtabs .tabs li h2 a.active {
    background: #fff;
    border: 1px solid #999;
    border-bottom: 0;
    height: 25px;
    outline: 0;
    width: 309px;
}
#product-detail  .detailtabs .detailtab {
    border: 1px solid #999;
    border-top:0;
    margin-bottom:20px;
}
#product-detail  .detailtabs .detailtab img {
    float: left;
    margin: 5px;
}
#product-detail  .detailtabs .detailtab h3 {
    font-size: 1em;
    margin: 5px 0 2px 3px;
    padding: 0;
}
#product-detail  .detailtabs .detailtab h3 a {
    color: #000;
    text-decoration: none;
}
#product-detail  .detailtabs .detailtab h3 a:hover {
    text-decoration: underline;
}
#product-detail  .detailtabs .detailtab ul {
    margin: 2px 0 0 3px;
    padding: 0;
}
#product-detail  .detailtabs .detailtab ul li {
    margin: 0 0 2px 0;
    padding: 0;
}
#product-detail  .detailtabs .detailtab p {
    margin: 0;
    padding: 10px;
}
#product-detail  .detailtabs .detailtab .grid_2 {
    margin-left: 5px;
}
#product-detail  .detailtabs .detailtab .alpha {
    margin-left: 0;
}
#product-detail .price {
    font-size: 1.4em;
}*/
#reviews {
    display: none;
}
#reviews h2 {
    font-size: 1em;
}
#reviews ul, #reviews li {
    margin: 0;
    padding: 5px 0;
}
#reviews ul li h3 {
    display: inline;
    font-size: 1em;
}
/* -- End product detail page. -- */

/* -- Begin basket detail page. -- */
#basket .basket-detail h2 {
    margin-bottom: 0;
}
#basket .basket-detail .basket-item, #basket .basket-detail .totals {
    background-color: #eee;
    border-top: #999 dotted thin;
    padding: 5px;
}
#basket .basket-detail .basket-item h3, #basket .basket-detail .totals h2 {
    margin-top: 0;
    padding-top: 0;
}
#basket .basket-detail .basket-item .qty {
    background-color: #fff;
    border: #ccc solid thin;
    display: inline-block;
    padding: 3px 3px 0 3px;
}
#basket .basket-detail .totals {
    border-top: #3e454c solid thin;
}
#basket .basket-detail .totals h2 {
    font-size: 1.1em;
    text-align: right;
}
/* -- End basket detail page. -- */

/* -- Begin blog pages. -- */
#blog {
}
#blog .blog-post {
    margin-bottom: 20px;
}
/* -- End blog pages. -- */

/* -- Begin checkout page. -- */
#checkout {
    margin-bottom: 10px;
}
#checkout h2 {
    margin-top: 30px;
    text-align: center;
}
#checkout .address {
    border-bottom: #999 dotted thin;
}
/* -- End checkout page -- */

/*-- Begin information page styles --*/
#information h2 {
    margin-bottom: 5px;
}
#information ul li {
    margin: 0;
}
/*-- End information page styles --*/

/* -- Styles added by BLM. -- */
.bold {
    font-weight: bold;
}

/* Begin negitive action button. */
.button-ntve {
}
/* End negitive action button. */

/* Begin positive action button. */
.button-ptve {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3f3), color-stop(1, #4a4));
    background: -moz-linear-gradient(center top, #3f3 5%, #4a4 100%);
    background-color: #3f3;
    border: #333 solid thin;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 2px 2px 0 0 #ccc;
    -moz-box-shadow: 2px 2px 0 0 #ccc;
    -webkit-box-shadow: 2px 2px 0 0 #ccc;
    color: #3e454c;
    display: inline-block;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f3', endColorstr='#4a4');
    padding: 3px 13px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}
.button-ptve:active {
    top: 1px;
}
.button-ptve:disabled, .button-ptve:disabled:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccc), color-stop(1, #666));
    background: -moz-linear-gradient(center top, #ccc 5%, #666 100%);
    background-color: #ccc;
    color: #3e454c;
    cursor: default;
}
.button-ptve:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3f3), color-stop(1, #6c6));
    background: -moz-linear-gradient(center top, #3f3 5%, #6c6 100%);
    background-color: #6c6;
    color: #000;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f3', endColorstr='#6c6');
}
/* End positive action button. */

.cardcvc {
    width: 3em;
}
.cardexp_m {
    width: 2em;
}
.cardexp_y {
    width: 4em;
}
.cardnum {
    width: 12em;
}
.close {
    cursor: pointer;
}
.error {
    color: #ff7f66;
}
.fullwidth {
    width: 98%;
}
.hint {
    color: #666;
}
.intro-text {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #ccc519;
    border: #3e454c solid thin;
    border-radius: 10px;
    color: #3e454c;
    font-family: 'Roboto Slab', serif;
    font-size: 1.1em;
    padding: 10px;
}
.intro-text h1 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}
.italic {
    font-style: italic;
}
.nodisplay {
    display: none;
}
.padtop {
    padding-top: 20px;
}
.page-title {
    padding-top: 20px;
    text-align: center;
}