.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  margin-left: 10px;
  margin-right: 10px;
}

.alpha,
.omega {
  margin-left: 0;
  margin-right: 0;
}

.align_center,
.align_right {
  text-align: left;
}/* -- Begin Standard HTML Elements -- */
p {
    overflow: visible;
}
/* -- End Standard HTML Elements -- */

/* -- Begin HTML Elements w/Classes -- */
h1.home-title {
    padding: 20px 0;
}
/* -- End HTML Elements w/Classes -- */

/* -- Begin Page Header -- */
#pageheader .searchbox button {
    float: left;
    position: inherit;
}
#pageheader .social {
    clear: left;
    float: left;
    margin-top: 8px;
    padding: 0;
    text-align: left;
}
#pageheader .social>span {
    margin-right: 6px;
}
#pageheader .youraccount {
    float: right;
    margin-top: 8px;
    padding-top: 3px;
    width: 78px;
}
#pageheader .youraccount #hdrBasket {
    float: left;
    width: 34px;
}
#pageheader .youraccount .accountmenu {
    float: right;
    width: 34px;
}
#pageheader .accountmenu ul, #hdrBasket .minibasket {
    left: -118px;
}
/* -- End Page Header -- */

/* -- Begin Confidence Bar -- */
#confidencebar {
    clear: both;
    margin-bottom: 0;
    padding-top: 10px;
}
#confidencebar .grid_4 {
    margin-left: 0;
}
/* -- End Confidence Bar -- */

/* -- Begin account pages -- */
#account .acct-signin {
    border-right: none;
    width: 100%;
}
/* -- Begin account pages -- */

/* -- Begin Page Footer -- */
#pagefooter {
    clear: both;
}
/* -- End Page Footer -- */

/* -- Begin Product Detail Page -- */
.product-detail .detailtabs .tabs {

}
.product-detail .highlightbox {
    margin-bottom: 15px;
    /*width: 100% !important;*/ /* Important because it has to override the boder allowance fix */
}
/* -- End Product Detail Page -- */