@import url("//hello.myfonts.net/count/25eab6");

@font-face {
    font-family: 'KeepCalm-BookItalic';
    src: url('/media/25EAB6_0_0.eot');
    src: url('/media/25EAB6_0_0.eot?#iefix') format('embedded-opentype'),url('/media/25EAB6_0_0.woff') format('woff'),url('/media/25EAB6_0_0.ttf') format('truetype');
}
@font-face {
    font-family: 'KeepCalm-Book';
    src: url('/media/25EAB6_1_0.eot');
    src: url('/media/25EAB6_1_0.eot?#iefix') format('embedded-opentype'),url('/media/25EAB6_1_0.woff') format('woff'),url('/media/25EAB6_1_0.ttf') format('truetype');
}
@font-face {
    font-family: 'KeepCalm-Heavy';
    src: url('/media/25EAB6_2_0.eot');
    src: url('/media/25EAB6_2_0.eot?#iefix') format('embedded-opentype'),url('/media/25EAB6_2_0.woff') format('woff'),url('/media/25EAB6_2_0.ttf') format('truetype');
}
@font-face {
    font-family: 'KeepCalm-HeavyItalic';
    src: url('/media/25EAB6_3_0.eot');
    src: url('/media/25EAB6_3_0.eot?#iefix') format('embedded-opentype'),url('/media/25EAB6_3_0.woff') format('woff'),url('/media/25EAB6_3_0.ttf') format('truetype');
}
