/* -- Data Table -- */
.data,.data th,.data td {
    border-style: solid;
    border-color: #ddd;
}
.data {
    border-width: 0 1px 1px;
    width: 100%;
}
.data caption {
    padding: 0 10px 5px;
    text-transform: uppercase;
}
.data th, .data td {
    border-top-width: 1px;
    padding: 5px 10px;
}
.data th {
    white-space: nowrap;
}
.data thead th {
    background: #eee;
    font-weight: bold;
    text-shadow: #fff 0 1px 0;
}
.data tbody th {
    width: 1px;
}
.data tr th:first-child {
    text-align: right;
}

/* -- Code --*/
pre, code {
    font-size: 12px;
    font-family: Menlo, Courier, monospace;
}
pre, .notice {
    background: #ffe;
    border: 1px solid;
    border-color: #eed #ccb #bba #ddc;
    overflow: auto;
    padding: 10px 0 10px 10px;
}
* html pre {
    overflow: hidden;
    width: 97%;
}
code {
    background: #ff9;
    padding: 0 2px;
}

/**
 * Slider - EasySlider1.7
 */
.slider-container {
    height: 470px;
}
#slider {
    position: relative;
}
#slider ul, #slider li{
    margin: 0;
    padding: 0;
    list-style: none;
}
#slider li{
    /* define width and height of list item (slide)
     * entire slider area will adjust according to the parameters provided here */
    width: 940px;
    height: 450px;
    overflow: hidden;
}

#prevBtn, #nextBtn {
    display: block;
    margin-top: -300px;
    width: 30px;
    z-index: 1000;
}
#nextBtn {
    margin-left: 910px;
    margin-top: -61px;
}
#nextBtn, #slider1next{
    left:590px;
}
#prevBtn a, #nextBtn a {
    display:block;
    position:relative;
    width:30px;
    height:61px;
    background:url(/media/sprites.png) no-repeat -79px -15px;
    opacity: 0.4;
    /*filter:alpha(opacity=40);*/ /* For IE8 and earlier */ /* Opacity breaks the 'png transparency in IE' fix  */
}
#prevBtn a:hover, #nextBtn a:hover{
    opacity: 1;
    /*filter:alpha(opacity=100);*/ /* For IE8 and earlier */ /* Opacity breaks the 'png transparency in IE' fix  */
}
#nextBtn a {
    background-position: -111px -15px;
}
.slide {
    margin-left: -10px;
    width: 940px;
    position: relative;
}

/* Price range slider */
.layout-slider {     margin-top: 20px;}
.layout-slider-settings { font-size: 12px; padding-bottom: 10px; }